<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Order Deleted</title>
<link rel="stylesheet" href="/delete_order.css" />
</head>
<body>

	<div class="header">
		<img src="/logo.png" alt="Logo" class="logo" />
	</div>
	
	<div class="container">
		<h1 th:text="'Order with ID ' + ${deletedId} + ' was deleted.'">
			Order Deleted
		</h1>

		<div class="button-group">

			<form th:action="@{/new}" method="get" style="display: inline;">
				<button type="submit" name="btn_new_order" class="btn primary">
					New order
				</button>
			</form>

			<form th:action="@{/}" method="get" style="display: inline;">
				<button type="submit" name="btn_all_orders" class="btn secondary">
					All orders
				</button>
			</form>

		</div>
	</div>
</body>
</html>